.tcc_view_table {
    border: thin solid #474f51;
    width: 100%;
    font-size: 20px;
    font-family: 'Arvo', serif;
}

.tcc_view_table tr > td {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: collapse;
    border: thin solid #474f51;
    border-right: thin solid #474f51;
}

.table_headers > td {
    border-bottom: thin solid #474f51;
}


.loginbutton {
    top: 0;
    height: 39px;
    width: 70px;
    color: #474f51;
    background-color: white;
    border: thin #474f51 solid;
}

.login_elements {
    width: 100%;
    margin: 20px 10px;
}

.login_elements label {
    margin: 20px;
    min-width: 102px;
}

.login_elements input {
    margin-left: 10px;
    padding-left: 10px;
}

.error {
    color: #aa0000;
    font-size: 24px;
}

#main {
    width: 100%;
}

#main label {
    margin: 10px;
}

#main input {
    padding: 5px;
    margin: 5px;
}

.signup_button {
    background-color: white;
    color: #474f51;
    border: 3px solid #474f51;
    width: 80px;
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 20px;
}

#main_content {
    font-size: 28px;
    font-family: Merriweather;
}

.charity_vote_form input {

}

.charname {
    font-size: 24px;
}

.charname a {
    text-decoration: none;
}

.past_donations_table {
    border: thin #474f51 solid;
    width: 100%;
    font-size: 28px;
}

.past_donations_table tr {
    border-collapse: collapse;
    margin: 5px;
}

.past_donations_table tr td {
    border-collapse: collapse;
    padding: 10px;
    border: thin solid #474f51;
}

.table_title {
    border: thick #474f51 solid;
    border-bottom: hidden;
    text-align: center;
    font-size: 40px;
}