@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");

@contentBackground: mix(#F8F9FA, #949daa, 50%);
@contentBackground: #bababa;
@tileColor: #cdd2d9;
@tileColor: #ccc;
@themeColor: #cdd2d9;
@textColor: #52575c;
@url: 'http://localhost/SmSiteNew/public/img/';
.hardcoded {
  border-bottom: thin solid #f35858 !important;
}

.hidden, .if-js {
  display: none;
}

.me{
	&.tile{
	  //TO BE CHANGED
	  background: mix(@tileColor, gold, 80%);
	}
}


.xdebug-var-dump {
  font-size: 9pt;
  line-height: 1.5em;
}

.clearfix {
  zoom: 1;
  &:after {
	clear: both;
  }
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.dark, .dark * {
  color: #dae7f1;
}

.light, .light * {
  color: @textColor;
}

#profile-block {
  position: relative;
  width: 100%;
  border-bottom: thin solid #636b73;
  & > * {
	float: left;
  }
}

#profile-pic {
  height: 200px;
  padding: 10px;
  text-align: center;
  width: 50%;
  background: @tileColor;
  border-right: thin solid #636b73;
  img {
	height: 100%;
	max-width: 100%;
	display: none;
	border: thin solid #636b73;
  }
}

#profile-main-info {
  width: 50%;
  height: 200px;
  padding: 1%;
  font-size: 90%;
}

#group-main-info {
  width: 100%;
  & > table {
	td {
	  &:first-child {
		width: 15%;
	  }
	}
  }
}

#profile-main-info td:first-child,
#group-main-info td:first-child {
  text-align: right;
}

#profile-main-info td,
#group-main-info td {
  padding: 5px 10px;
  border-bottom: thin solid #eeeeee;
}

#profile-main-info tr:last-child *,
#group-main-info tr:last-child * {
  border-bottom: none;
}

#edit-main-info {
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  background: #636b73;
  position: absolute;
  right: 0;
  bottom: 0;
}

.edit-user {
  height: 100%;
  width: 35px;
  font-size: 12px;
  text-align: center;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  right: 0;
  div {
	color: #ffffff;
	width: 100%;
	margin: 0;
	background: darken(@tileColor, 20%);
	padding: 0;
	float: right;
	cursor: pointer;
	display: block;
	&:hover, &.selected{
	  color: darken(@textColor, 10%);
	  font-weight: bold;
	  background: #ffffff;
	}
  }
}

#group_addition {
  width: 300px;
}

.on-tile-sel{
  border-top: thin solid @themeColor;
}

.tile {
  width: 31%;
  background: @tileColor;
  position: relative;
  float: left;
  margin: 1%;
  height: 89px;
  > a {
	position: absolute;
  }
  a {
	display: inline-block;
	width: 100%;
  }
  .text {
	position: absolute;
	height: 100%;
	width: 100%;
	font-weight: 100;
	line-height: 1.4em;

	.snippet {
	  padding-left: 10px;
	  display: block;

	}
  }
  em {
	font-size: 13px;
  }
}

.tile a:hover {
  background: darken(@tileColor, 7%);
}

.tile a{
  height: 100%;
  margin: 0;
}

.tile-box {
  width: 100%;
}

.tile-holder {
  overflow: hidden;
  background: inherit;
  height: inherit;
  width: 25%;
  float: left;
  img {
	height: 100%;
  }
  & > div {
	float: left;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
}

body {
  //  background: #dfdfe1;
  //  background: #cdd2d9;
  //  background: #949daa;
  background: @contentBackground;
  -webkit-text-size-adjust: none;
}

body, input, textarea, select {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #181a1d;
  line-height: 1.75em;
  font-size: 15pt;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: @textColor;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px #62676c;
  -moz-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  &:hover {
	border-bottom-color: rgba(255, 255, 255, 0);
  }
  &.image {
	&:hover {
	  opacity: 0.85;
	}
  }
}

strong, b {
  font-weight: 400;
  color: #42474c;
}

em, i {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #c2c7cc;
}

blockquote {
  border-left: solid 0.5em #c2c7cc;
  padding: 1em 0 1em 2em;
  font-style: italic;
}

p, ul, ol, dl, table {
  margin-bottom: 1.5em;
}

.wrapper {
  position: relative;
  padding: 2em 0 2em 0;
  width: 100%;
  border-top: thin solid #636b73;
  border-collapse: collapse;
  overflow-x: hidden;
  &.features {
	background: url("@{url}Spread6FinalBlur.png");
	background-size: cover;
	* {
	  text-align: center;
	}
  }
  & > .row {
	width: 90%;
	margin: auto;
  }
}

.featured {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

br {
  &.clear {
	clear: both;
  }
}

section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child {
  margin-bottom: 0;
}

section:last-child,
article:last-child {
  margin-bottom: 0;
}

.row > section,
.row > article {
  margin-bottom: 0;
}

.row {
  width: 100%;
  border-bottom: solid 1px transparent;
  &.island {
  }
  & > * {
	float: left;
  }
  &.uniform {
	margin: -40px 0 -1px -40px;
	& > * {
	  padding: 40px 0 0 40px;
	  & > :first-child {
		margin-top: 0;
	  }
	  & > :last-child {
		margin-bottom: 0;
	  }
	}
  }
}

header {
  margin-bottom: 1.5em;
  & > p {
	display: block;
	color: #dae7f1;
	padding: 0.75em 0 1em 0;
	font-size: 1.5em;
	line-height: 1.5em;
  }
  &.major {
	text-align: center;
  }
}

.image {
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  border: 0;
  img {
	margin-bottom: 0;
	display: block;
	width: 100%;
  }
  &.fit {
	display: block;
	width: 100%;
  }
  &.left {
	float: left;
	margin: 0 2em 2em 0;
  }
  &.centered {
	display: block;
	margin: 0 0 3em 0;
	img {
	  margin: 0 auto;
	  width: auto;
	}
  }
}

ul {
  &.default {
	list-style: disc;
	padding-left: 1em;
	li {
	  padding-left: 0.5em;
	}
  }
  &.divided {
	li {
	  border-top: solid 1px #d2d7dc;
	  padding-top: 2em;
	  margin-top: 2em;
	  &:first-child {
		padding-top: 0;
		margin-top: 0;
		border-top: 0;
	  }
	}
  }
  &.icons {
	li {
	  &:before {
		display: inline-block;
		color: #fff;
		background: #61666b;
		width: 2em;
		height: 2em;
		//		border-radius: 0.35em;
		text-align: center;
		line-height: 2em;
		margin-right: 0.75em;
	  }
	}
  }
  &.menu {
	li {
	  display: inline-block;
	  border-left: solid 1px #d2d7dc;
	  padding-left: 1em;
	  margin-left: 1em;
	  &:first-child {
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
	  }
	}
  }
}

ol {
  &.default {
	list-style: decimal;
	padding-left: 1.25em;
	li {
	  padding-left: 0.25em;
	}
  }
}

form {
  label {
	display: block;
	font-weight: 300;
	color: @textColor;
	margin: 0 0 0.75em 0;
  }
  textarea {
	min-height: 7em;
  }
  .formerize-placeholder {
	color: #adadad !important;
  }
  ::-webkit-input-placeholder {
	color: #adadad !important;
  }
  :-moz-placeholder {
	color: #adadad !important;
  }
  ::-moz-placeholder {
	color: #adadad !important;
  }
  :-ms-input-placeholder {
	color: #adadad !important;
  }
  ::-moz-focus-inner {
	border: 0;
  }
}

label {
  &.required {
	&::before {
	  content: '*';
	}
  }
  .error {
	color: #FF7088;
	text-align: right;
	clear: both;
  }
}

button[type=submit] {
  clear: both;
  width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
//  -webkit-appearance: none;
  display: block;
  background: #f6f6ec;
  border: solid 1px #9da7b0;
//  border-radius: 0.35em;
  width: 100%;
  line-height: 1.5em;
  padding: 10px;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
  background: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  &.default {
	width: 100%;
	tbody {
	  tr {
		border-top: solid 1px #D2D7DC;
		&:nth-child(2n + 1) {
		  background: #f9fbfe;
		}
	  }
	}
  }
  td {
	padding: 0.5em 1em 0.5em 1em;
  }
  th {
	text-align: left;
	font-weight: 400;
	padding: 0.5em 1em 0.5em 1em;
  }
  thead {
  }
  tfoot {
	border-top: solid 1px #D2D7DC;
  }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  text-align: center;
  display: inline-block;
  color: inherit;
  background: none;
  text-decoration: none;
  border: solid 1px #9da7b0;
  //  border-radius: 0.35em;
  padding: 0.8em 2em 0.8em 2em;
  cursor: pointer;
  outline: 0;
  -moz-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"].selected,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"].selected,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"].selected,
button:hover,
button:focus,
button.selected,
.button:hover,
.button.selected,
.button:focus {
//  color: #9da7b0;
  color: @textColor;
  background: lighten(@tileColor, 10%);
  border: thin solid #9da7b0;
//  border-radius: 0;
  border-radius: 1em;
}

.full-children {
  & > * {
	min-width: 100%;
	max-width: 100%;
  }
}

.half-children {
  & > * {
	min-width: 48%;
	max-width: 48%;
	float: left;
  }
}

.baby-row {
  clear: both;
}

.full {
  min-width: 100%;
  clear: both;
}

.lr-float-children {
  & > *:nth-child(even) {
	float: right;
  }
}

.icon {
  text-decoration: none;
  &:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  & > .label {
	display: none;
  }
}

.image-wrapper {
  position: relative;
  .image {
	position: relative;
	z-index: 2;
	border: 1px solid #cccccc;
  }
  &.first {
	&:before {
	  content: '';
	  display: block;
	  width: 2000%;
	  height: 100%;
	  position: absolute;
	  left: -1000%;
	  top: 0;
	  z-index: 1;
	  box-shadow: inset 0 0 0 1px #e8e8e8;
	  background: #f6f8fb url('@{url}telephasic/image-wrapper.svg');
	}
  }
}

.item {
  font-size: 26px;
}

#header-wrapper {
  position: relative;
  padding: 0 0 .75em 0;
  background-color: #f08c89;
  background-image: url('@{url}sp2bwBlur.png');
  background-image: url('@{url}telephasic/header.svg'), url('@{url}sp2bwBlur.png');
  background-size: 100% 620%, cover;
  background-repeat: repeat, no-repeat, no-repeat;
  -webkit-box-shadow: inset 2px -5px 20px -5px #424b5a;
  -moz-box-shadow: inset 2px -5px 20px -5px #424b5a;
  box-shadow: inset 2px -5px 30px -5px #424b5a;
}

#dash {
  padding: auto;
}

.center {
  text-align: center;
  padding: auto;
  margin: auto;
}

.homepage {
  #header-wrapper {
	padding: 10em 0 6em 0;
	background-size: 128px 128px, 100% 100%, auto;
  }
}

#promo-wrapper {
  position: relative;
  background-image: url('@{url}telephasic/overlay.png'), url('@{url}telephasic/promo.jpg');
  background-size: 192px 192px, cover;
  background-position: top left, center center;
  color: #fff;
  text-align: center;
  padding: 6em 0 6em 0;
}

#banner-wrapper {
  background: url("@{url}stripe_4.png");
}

#footer-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  color: #dae7f1;
  position: relative;
  padding: 1.5em 0 0em 0;
  background: #d2d7dc;
  background-image: url('@{url}telephasic/overlay.png'), url('@{url}telephasic/footer.svg'), url('@{url}untouched/david_spade.jpg');
  background-size: 128px 128px, 100% 100%, cover;
}

#message {
  margin-top: .75em;
}

#logo {
  width: 100%;
  margin: auto;
  text-align: center;
  a {
	//    display: block;
	width: 15em;
	background: rgba(255, 255, 255, 0.15);
	border: solid 1px;
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.75);
	border-top: 0;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
  }
}

#nav {
  text-align: center;
  width: 100%;
  line-height: 4em;
  & > ul {
	margin: 0;
	& > li {
	  display: inline-block;
	  margin-left: 1em;
	  & > ul {
		display: none;
	  }
	  &:first-child {
		margin-left: 0;
	  }
	}
  }
}

#nav > ul > li > span,
#nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  border: 0;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 0.35em;
  padding: 0.3em 1em 0.3em 1em;
  -moz-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -o-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  -ms-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

#nav > ul > li.active > span,
#nav > ul > li.active > a {
  border-color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.dropotron {
  text-align: left;
  //  border-radius: 0.35em;
  min-width: 12em;
  background: #fff;
  line-height: 1em;
  padding: 0.85em 0 0.85em 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  margin-top: -0.8em;
  &.level-0 {
	font-size: 0.9em;
	margin-top: 0;
	&:before {
	  content: '';
	  position: absolute;
	  top: -1em;
	  width: 1em;
	  height: 1em;
	  border-bottom: solid 0.5em #fff;
	  border-left: solid 0.5em rgba(255, 255, 255, 0);
	  border-right: solid 0.5em rgba(255, 255, 255, 0);
	}
	&.center {
	  &:before {
		left: 50%;
		margin-left: -0.5em;
	  }
	}
	&.left {
	  &:before {
		left: 1em;
	  }
	}
	&.right {
	  &:before {
		right: 1em;
	  }
	}
  }
}

.dropotron a,
.dropotron span {
  display: block;
  padding: 0.65em 1em 0.65em 1em;
  border-top: solid 1px #e8e8e8;
  border-bottom: 0;
}

.dropotron li:first-child > a,
.dropotron li:first-child > span {
  border-top: 0;
}

.dropotron li.active > a,
.dropotron li.active > span {
  color: #f35858;
}

#hero {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 1;
  h2 {
	color: #fff;
	font-size: 3em;
  }
  strong {
	color: inherit;
  }
  header {
	& > span {
	  color: #fff;
	}
  }
  p {
	font-size: 1.5em;
	line-height: 1.5em;
  }
  .button {
	background: #fff;
	border-color: rgba(255, 255, 255, 0);
	color: #f08c89;
	font-size: 1.25em;
	&:hover {
	  border-color: rgba(255, 255, 255, 0.75);
	  background-color: rgba(255, 255, 255, 0.15);
//	  color: #fff;
	}
  }
  a {
	color: #fff;
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.5);
	&:hover {
	  border-color: rgba(255, 255, 255, 0);
	}
  }
}

#promo {
  background: rgba(255, 255, 255, 0.05);
  border: solid 1px rgba(255, 255, 255, 0.25);
  //  border-radius: 0.5em;
  padding: 1.75em 2.5em 1.75em 2.5em;
  display: inline-block;
  position: relative;
  z-index: 1;
  h2 {
	color: #fff;
	display: inline-block;
	margin-right: 1em;
	font-size: 1.75em;
  }
  .button {
	background: #fff;
	border-color: rgba(255, 255, 255, 0);
	color: #27636B;
	font-size: 1.25em;
	&:hover {
	  border-color: rgba(255, 255, 255, 0.75);
	  background-color: rgba(255, 255, 255, 0.15);
//	  color: #fff;
	}
  }
}

#main {
}

.content {
  max-width: 100%;
  & > * {
	clear: both;
	max-width: 100%;
  }
  & > article {
	margin-bottom: 1.5em;
	width: 100%;
  }
}

.content > article > article, .module > section, .content > section {
  padding: 10px;
}



#footer {
  position: relative;
  z-index: 1;
  text-align: center;
  & > * {
	margin: auto;
  }
  header {
	&.major {
	  width: 100%;
	}
  }
}

#copyright {
  position: relative;
  z-index: 1;
  text-align: center;
  border-top: solid 1px #bec3ca;
  padding: 4em 0;
  margin-top: 2em;
}

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
#sidebar {
  & > section {
	margin-top: 1em;
	margin-bottom: 1.5em;
  }
  section {
	&:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
  }
  button, .button{
	margin-top: .75em;
  }
}
.addendum{
  border-top: thin dotted #ccc;
}
.distributer-inactive{
	#sidebar{
	  width: 100%;
	}
}

.distributer {
  display: table;
  table-layout: fixed;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  & > * {
	padding: 0 0 0 40px;
  }
  #sidebar{
	max-width: 30%;
  }
}

.distributed {
  display: table-cell;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  &:first-child {
	padding: 0;
  }
}

.module {
  background: #ffffff;
  //  border: thin solid #636b73;
  box-shadow: 1px 1px 3px 1px darken(@contentBackground, 25%);
  -moz-box-shadow: 2px 2px 2px 1px darken(@contentBackground, 20%);
  padding: 0;
  & > header {
	background: #4a4a4a;

	border-bottom: thin solid #636b73;
	padding-bottom: 10px;
	text-align: center;

	& > h2, & > h3, & {
	  color: #ffffff;
	}
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.do_33 {
  width: 33%;
}

.do_50 {
  width: 50%;
}
